// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

.container.container-inside {
	margin: 0 auto;
}

.vc_btn3.vc_btn3-color-green.vc_btn3-style-modern {
	background-color: $primary-green !important;
	background-image: none !important;

	&:hover {
		background-color: $primary-green-darker !important;
	}
}

.vc_row {
	margin: 0 auto !important;
}

@media screen and (max-width: 767px) {
	.adjust-mobile-img-borders {
		margin-top: -40px !important;
		margin-bottom: -15px !important;
	}
}

nav.navbar {
	background-color: #fff !important;
	-webkit-transition: background-color 500ms linear;
	-ms-transition: background-color 500ms linear;
	transition: background-color 500ms linear;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;

  a {
		color: $primary-green !important;
		font-weight: 600;

		&:hover {
			color: $primary-green-darker !important;
		}
	}

	.navbar-brand img {
		margin-top: 7px;
		margin-left: 15px;
		max-height: 60px;
		width: auto;

		&.logo-negro {
			display: inline;
		}

		&.logo-blanco {
			display: none;
		}
	}

	@media screen and (max-width: 500px) {
		.navbar-brand {
			margin-left: -5px;

			img {
				margin-left: 0;
			}
		}

		.navbar-toggler {
			margin-right: 20px;
			margin-top: 15px;
		}
	}
}

.navbar-dark {
	.navbar-toggler {
		border-color: $primary-green;
		color: $primary-green;
	}

	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(57, 181, 74, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	}
}

.form-group, .wpcf7 .wpcf7-form {
	p:last-of-type {
		margin-bottom: 0;
	}
}

.modal-link-hide-mobile {
	display: block !important;

	@media screen and (max-width: 768px) {
		display: none !important;
	}
}

.anti-modal-link {
	display: none !important;

	@media screen and (max-width: 768px) {
		display: block !important;
	}
}

.btn-outline-primary, .wpcf7 input[type=submit] {
	background-color: $primary-green;
	color: #fff;
	border: 0;
	margin-bottom: 0;

	&:hover {
		background-color: $primary-green-darker;
	}
}

nav.navbar {
	background-color: transparent !important;

	a {
    color: #fff !important;

    &:hover {
      color: #ddd !important;
		}
	}

	a.dropdown-item {
		color: $primary-green !important;
	}

	.navbar-brand img {
		&.logo-blanco {
			display: inline;
		}

		&.logo-negro {
			display: none;
		}
	}

	@media screen and (max-width: 991px) {
		background-color: #fff !important;
		opacity: .8;

		a {
			color: $primary-green !important;
			font-weight: 600;

			&:hover {
				color: $primary-green-darker !important;
			}
		}

		.navbar-brand img {
			&.logo-negro {
				display: inline;
			}

			&.logo-blanco {
				display: none;
			}
		}
	}

	&--scrolled {
		background-color: #fff !important;
		opacity: .8;

		a {
			color: $primary-green !important;
			font-weight: 600;

			&:hover {
				color: $primary-green-darker !important;
			}
		}

		.navbar-brand img {
			&.logo-negro {
				display: inline;
			}

			&.logo-blanco {
				display: none;
			}
		}
	}
}

.single-wpcm_vehicle {
	nav.navbar {
		background-color: #fff !important;
		opacity: .8;

		a {
			color: $primary-green !important;
			font-weight: 600;

			&:hover {
				color: $primary-green-darker !important;
			}
		}

		.navbar-brand img {
			&.logo-negro {
				display: inline;
			}

			&.logo-blanco {
				display: none;
			}
		}
	}
}

body.admin-bar nav.navbar {
	top: 32px;
}

.rev_slider .tp-caption, .rev_slider .caption {
	white-space: normal !important;
}

div.full-title-with-background {
	margin-top: 100px;
	background-size: cover;
	background-position: center;
	padding-top: 90px;
	padding-bottom: 80px;

	.evc-section-title {
		margin-bottom: 0;
	}

	.evc-st-title {
		color: #fff !important;
		font-weight: 500 !important;
		text-transform: uppercase;
		text-shadow: 2px 2px 4px rgba(0,0,0,.5);
	}

	.evc-st-text {
		color: #fff !important;
		font-weight: 500 !important;
		text-shadow: 2px 2px 4px rgba(0,0,0,.5);
		font-size: larger;
	}

	.evc-button {
		background-color: $primary-green;
		color: #fff;
		border-radius: 10px;

		&:hover {
			background-color: $primary-green-darker;
			text-decoration: none;
		}
	}
}

#wrapper-footer {
	background-color: $footer-bg;
	color: $primary-green;
	padding-bottom: 15px;
}

#wrapper-footer-full {
	background-color: $footer-bg;
	padding-top: 30px;
	padding-bottom: 0;
	color: #aaaaaa;

	a {
		color: #aaaaaa !important;
	}

	h3 {
		color: #fff;
		font-size: 1.3rem;
		text-transform: uppercase;
	}

	.footer-widget {
		padding: 20px 10px;

		@media screen and (max-width: 767px) {
			text-align: center;

			ul {
				list-style-type: none;
    		padding: 0;
			}
		}
	}
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.evc-section-title {
	margin-bottom: 20px;
}

.info-tabs {
	text-align: center;

	h4 {
		text-transform: uppercase;
		margin: 30px 0 !important;
		font-weight: 500;
		font-size: 1.4rem;

		@media screen and (max-width: 767px) {
			margin: 10px 0 !important;
		}
	}

	.vc_icon_element-inner {
		margin-top: 25px;
		margin-bottom: 30px;
	}
}

.wpb-js-composer {
	.vc_tta.vc_tta-tabs {
		.vc_tta-panel-heading {
			display: none !important;
		}

		.vc_tta-tabs-container {
			display: block !important;
		}
	}

	.vc_tta.vc_general .vc_tta-tab > a {
		padding: 10px !important;
	}

	.vc_tta-color-blue.vc_tta-style-classic .vc_tta-panel {
		.vc_tta-panel-heading {
			background-color: $primary-green !important;
			border-color: $primary-green-darker !important;
		}

		&.vc_active {

			.vc_tta-panel-title > a {
				color: #fff !important;
			}

			.vc_tta-panel-heading {
				background-color: $primary-green-darker !important;
				border-color: $primary-green-darker !important;
			}
		}
	}
}

article {
	margin-top: 100px;
}

@media screen and (max-width: 767px) {
	.wpcm-summary {
		clear: left;
	}
}

.wpcm_vehicle {
	.entry-header {
		display: none;
	}
}

.wpcm-vehicle-listings .wpcm-vehicle-filters .wpcm-filter-button input,
.wpcm-button:active, .wpcm-button:focus, .wpcm-button:visited,
.wpcm-button {
	background-color: $primary-green;
	color: #fff;

	&:hover {
		background-color: $primary-green-darker;
		text-decoration: none;
	}
}

.wpcm-vehicle-listings .wpcm-vehicle-results-wrapper .wpcm-vehicle-results li.wpcm-listings-item {
	width: 32%;
	float: left;
	margin-right: 1.3%;
	margin-bottom: 20px;
	background: #fff !important;
	box-shadow: 0 0 2px 0 rgba(46,56,77,.1), 0 4px 16px 0 rgba(0,24,77,.07);

	&.add {
		padding: 20px;
	}

	@media screen and (min-width: 501px) and (max-width: 800px) {
		width: 49%;
		margin-right: 1%;
	}

	@media screen and (max-width: 500px) {
		width: 100%;
		margin-right: 0;
	}
}

.wpcm-vehicle-listings .wpcm-vehicle-results-wrapper .wpcm-vehicle-results li.wpcm-listings-item.wpcm-listings-item-featured a {
	background: transparent;
}

.wpcm-vehicle-listings .wpcm-vehicle-results-wrapper .wpcm-vehicle-results li.wpcm-listings-item.wpcm-listings-item-featured a:hover {
	background: #f0f0f0;
}

@media screen and (min-width: 501px) and (max-width: 800px) {
	.wpcm-vehicle-listings .wpcm-vehicle-results-wrapper .wpcm-vehicle-results li.wpcm-listings-item:nth-child(2n+1) {
		clear: left;
	}
}

@media screen and (min-width: 801px) {
	.wpcm-vehicle-listings .wpcm-vehicle-results-wrapper .wpcm-vehicle-results li.wpcm-listings-item:nth-child(3n+1) {
		clear: left;
	}
}

.wpcm-vehicle-listings .wpcm-vehicle-results-wrapper .wpcm-vehicle-results li.wpcm-listings-item a {
	padding: 0;
}

.wpcm-vehicle-listings .wpcm-vehicle-results-wrapper .wpcm-vehicle-results li.wpcm-listings-item a .wpcm-listings-item-image-wrapper {
	width: 100% !important;
	height: auto !important;
	position: relative;
	margin-right: 0;
	float: none;
	position: static;
}

.wpcm-vehicle-listings .wpcm-vehicle-results-wrapper .wpcm-vehicle-results li.wpcm-listings-item a .wpcm-listings-item-image-wrapper img.wpcm-listings-item-image {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	box-shadow: none;
}

.wpcm-vehicle-listings .wpcm-vehicle-results-wrapper .wpcm-vehicle-results li.wpcm-listings-item a .wpcm-listings-item-text {
	width: 100% !important;
	position: static;
	padding: 1em 0.5em;
	color: $body-color;

	h3, p {
		margin-bottom: .3rem;
	}

	h3 {
		font-size: 1.1rem;

		@media screen and (max-width: 991px) {
			font-size: .9rem;
		}
	}

	.description {
		font-size: .9rem;

		@media screen and (max-width: 991px) {
			font-size: .7rem;
		}
	}

	.price {
		margin-top: .1rem;
		font-size: 1rem;
		text-align: right;

		@media screen and (max-width: 991px) {
			font-size: .8rem;
		}
	}

	.year {
		color: #fff;
    border-radius: 3px;
    padding: 2px 3px;
		background-color: $primary-green;
		display: inline;
		font-size: 1rem;

		@media screen and (max-width: 991px) {
			font-size: .8rem;
		}
	}

	.location {
		color: #000;
    border-radius: 3px;
    padding: 2px 3px;
		background-color: #fc3;
		display: inline;
		font-size: 1rem;

		@media screen and (max-width: 991px) {
			font-size: .8rem;
		}
	}

	.mileage {
		text-align: right;
		font-size: 1rem;

		@media screen and (max-width: 991px) {
			font-size: .8rem;
		}
	}
}

.wpcm_vehicle .wpcm-images .wpcm-pending-review, .wpcm_vehicle .wpcm-images .wpcm-sold,
.wpcm-vehicle-listings .wpcm-vehicle-results-wrapper .wpcm-vehicle-results li.wpcm-listings-item a .wpcm-listings-item-image-wrapper .wpcm-pending-review, .wpcm-vehicle-listings .wpcm-vehicle-results-wrapper .wpcm-vehicle-results li.wpcm-listings-item a .wpcm-listings-item-image-wrapper .wpcm-sold {
	background: #FFCC33;
	color: #000;
	font-weight: 400;
	top: 2.0em;
	left: -2.0em;
	padding: 0 1.7em;
	transform: rotate(-45deg);
	text-transform: uppercase;
	font-size: .8em;
	text-align: center;
	min-width: 130px;

	&--report {
		background: $primary-green;
		color: #fff;
	}
}

.wpcm_vehicle .wpcm-images .wpcm-pending-review, .wpcm_vehicle .wpcm-images .wpcm-sold {
	padding: 0 2.2em;
	left: -2.2em;
	top: 2.2em;
	font-size: 1.1em;

	@media (min-width: 893px) {
		padding: 0 2.5em;
		left: -2em;
		top: 2em;
		font-size: 1.4em;

		&--report {
			left: -2.5em;
			top: 2.5em;
		}
	}
}

#similar-cars .wpcm-listings-item-image-wrapper .wp-post-image {
	display: inline !important;
}

// que quieres hacer
.wpb-js-composer .vc_tta-color-blue.vc_tta-style-classic {
	.vc_tta-tab {
		a {
			background-color: #fff !important;
			color: $primary-green !important;
			border: 1px solid $primary-green !important;

			&:hover {
				background-color: $primary-green !important;
				color: #fff !important;
			}
		}

		&.vc_active {
			a {
				background-color: $primary-green !important;
				color: #fff !important;
				border: 1px solid $primary-green !important;
			}
		}
	}
}

//alianzas
.evc-image-gallery .evc-owl-carousel.owl-drag .owl-item {
	@media screen and (max-width: 449px) {
		padding: 0 70px;
	}

	@media screen and (min-width: 450px) and (max-width: 680px) {
		padding: 0 150px;
	}

	@media screen and (min-width: 681px) and (max-width: 767px) {
		padding: 0 50px;
	}
}


// testimonies
.evc-testimonials {
	.evc-t-item {
		.evc-t-image {
			margin-left: 10%;
			padding-top: 35px;
			float: left;
			width: 12%;

			img {
				width: 100%;
			}

			@media screen and (max-width: 600px) {
				width: 40%;
				margin-left: 30%;
				margin-right: 10%;
			}
		}

		.evc-t-content {
			padding-left: 65px;
			float: left;
			width: 50%;

			.evc-t-text,
			.evc-t-author {
				text-align: justify;
			}

			@media screen and (max-width: 600px) {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	.owl-nav {
		@media screen and (max-width: 600px) {
			display: none;
		}
	}
}

// Modals
$modal-height: 500px;

.modal-wrapper {
	background: rgba(0, 0, 0, .6);

	.modal {
		margin: auto;
		margin-top: 15%;
		width: 70%;
		height: $modal-height;
		background-color: #fff;
		position: relative;
		overflow: visible;
	}

	.close-modal {
		float: right;
		font-size: 30px;
		margin-right: -30px;
		margin-top: 0;
		background: transparent;
    color: #fff;
		line-height: 15px;
		border: 0 !important;
	}

	#modal-content {
		padding: 0;
		height: $modal-height;
		position: absolute;
		width: 100%;

		iframe {
			height: $modal-height;
			width: 100%;
			overflow: hidden;
			border: 0;
		}
	}
}


.sell-form-container {
	background-color: #fafafa;
	box-shadow: 0 0 2px 0 rgba(46,56,77,.1), 0 4px 16px 0 rgba(0,24,77,.07);
}

.contact-form-container {
	border: none;
	background: #fff;
	box-shadow: 0 0 2px 0 rgba(46,56,77,.1), 0 4px 16px 0 rgba(0,24,77,.07);
	border-radius: 0;

	.title {
		background-color: $primary-green;
		padding: 10px 0;

		h4 {
			color: #fff !important;
			font-weight: 500;
		}
	}
}

.box {
	padding-left: 10px !important;
	padding-right: 10px !important;

	.vc_column-inner {
		-webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
		border: 2px solid $primary-green;

		* {
			color: $primary-green !important;
		}
	}

	&:hover {
		.vc_column-inner {
			border: 2px solid #fff;
			background-color: $primary-green;

			* {
				color: #fff !important;
			}
		}
	}
}

// Informe
.informe-icons {
	.evc-st-title {
		text-transform: uppercase;
		font-weight: 500 !important;
		font-size: 13px !important;
	}

	.wpb_single_image .vc_single_image-wrapper {
		padding: 0 30px;

		@media screen and (max-width: 600px) {
			padding: 0 40px;
		}
	}
}

// Servicios adicionales
.servicios-adicionales {
	h2.evc-st-title {
		text-transform: uppercase;
		font-weight: 500 !important;
		font-size: 20px !important;
		text-align: center;
	}

	h3.evc-st-title {
		text-transform: uppercase;
		font-weight: 500 !important;
		font-size: 16px !important;
		text-align: center;
	}

	.vc_column-inner {
		box-shadow: 0 0 2px 0 rgba(46,56,77,.1), 0 4px 16px 0 rgba(0,24,77,.07);
		background: #fff;
	}

	.wpb_content_element {
		font-size: 14px;
	}

	.wpb_single_image .vc_single_image-wrapper {
		padding: 0 30px;

		@media screen and (max-width: 600px) {
			padding: 0 40px;
		}
	}
}

// Blog
.btn.btn-secondary.understrap-read-more-link {
	display: none;
}

.vc_btn3.vc_btn3-color-juicy-pink, .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
	background-color: $primary-green !important;

	&:hover {
		background-color: $primary-green-darker !important;
	}
}


.custom-icon {
	width: auto;
	height: 4em !important;
	margin-top: 25px !important;
	margin-bottom: 30px !important;

	img {
		height: 5em !important;
		width: auto !important;
	}
}


// Car video
.wpcm-vehicle-video-container {
	font-family: $font-family-roboto;
	background: $primary-green;
	background: linear-gradient(90deg, rgba(33,111,44,1) 0%, rgba(57,181,74,1) 35%, rgba(41,143,56,1) 100%);
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.5);
}

.wpcm-vehicle-video-embeded {
	-webkit-box-shadow: 0px 7px 20px 5px rgba(0,0,0,0.64);
	-moz-box-shadow: 0px 7px 20px 5px rgba(0,0,0,0.64);
	box-shadow: 0px 7px 20px 5px rgba(0,0,0,0.64);
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;

	iframe {
		margin-bottom: -10px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.wpcm-vehicle-video-info {
	.title {
		color: #fff;
	}
	
	.subtitle {
		color: #fff;
		font-weight: 300;
	}

	button {
		background: #fff;
		color: #000;
		border-radius: 5px;
		padding: 5px 0;
		font-size: 20px;
		width: 100%;
		text-transform: uppercase;
		letter-spacing: 4px;
		border-width: .9px;
	}
}

// Prettyphoto, always show arrows
.single-wpcm_vehicle a.pp_next {
	background: url(../../../plugins/wp-car-manager/assets/images/prettyPhoto/default/sprite_next.png) center right no-repeat;
}

.single-wpcm_vehicle a.pp_previous {
	background: url(../../../plugins/wp-car-manager/assets/images/prettyPhoto/default/sprite_prev.png) center left no-repeat
}

// Buscador
.searchbox {
	margin-bottom: 20px;

	@media screen and (max-width: 500px) {
		font-size: 14px;
	}

  &__top-buttons {
		display: flex;
		justify-content: center;
		margin-bottom: 5px;

    &__button {
			cursor: pointer;
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			max-width: 300px;
			padding: 5px;
			margin: 0 5px;
			background-color: #fff;
			border: 1px solid #39b54a;
			color: #39b54a;
			border-radius: 3px;

			&--highlighted {
				font-weight: bold;
			}

			&--selected,
			&:hover,
			&:active,
			&:focus {
				background-color: #39b54a;
				color: #fff;
			}
    }
  }

  &__content {
    background-color: #fff;
    box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.52);
		padding: 5px;
		margin: 5px;

    &__search-type {
      display: flex;
      border-bottom: 1px solid #999;

      &__button {
				cursor: pointer;
        flex: 1;
        text-align: center;
				padding: 5px;
				background-color: transparent;
				color: #ccc;
				border: 0;

        &:first-child {
          border-right: 1px solid #ccc;
				}
				
				&--selected,
				&:hover,
				&:active,
				&:focus {
					color: #000;
					border-bottom: 1px solid #39b54a;
				}
      }
    }

    &__search-content {
      &__field {
				width: 100% !important;
				padding: 8px 10px !important;
				position: relative !important;
				float: none !important;
				overflow: visible !important;

				&:last-child {
					border-bottom: 0px !important;
				}

				> i {
					position: absolute;
					top: 13px;
					left: 5px;
					width: 20px;
    			text-align: center;
				}

				.select2.select2-container.select2-container--default {
					width: 100% !important;
				}
				
				.select2-selection.select2-selection--single {
					width: 100%;
					background-color: transparent;
					border: 0;
				}

				&--text-input {
					padding-left: 25px !important;
					border-bottom: 1px solid #ccc !important;
				}

				&--body-style {
					display: flex;
					flex-wrap: wrap;

					&__each {
						cursor: pointer;
						opacity: .65;
						padding: 5px;
						width: 25%;

						@media screen and (max-width: 500px) {
							width: 50%;
						}

						&--selected {
							opacity: 1;

							.searchbox__content__search-content__field--body-style__each__content {
								border: 2px solid #39b54a;
							}
						}

						&:hover,
						&:focus,
						&:active {
							opacity: 1;
						}

						&__content {
							padding: 5px;
							border: 1px solid #ccc;
							border-radius: 5px;

							img {
								width: 100%;
							}

							span {
								display: block;
								width: 100%;
								text-align: center;
							}
						}
					}
				}
      }
    }
  }

  &__search-button {
		margin-top: 5px;
		padding: 0 5px;
		padding-top: 0px !important;
		float: none !important;
		width: 100%;

		input {
			cursor: pointer;
			background-color: #39b54a;
			border: 0 !important;
			color: #fff;
			padding: 10px 0;
			width: 100%;
		}
  }
}