// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #2467a1;
$grid-gutter-width: 0 !important;
$body-color: #404040;
$primary-green: #39b54a;
$primary-green-darker: #158925;
$footer-bg: #191919;

// $font-size-base: .8rem;

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
$font-family-sans-serif: 'Raleway', sans-serif;
